:root {
  --cool-dark: #061130;
  --cool-blue: #1C4BC4;
  --cool-light: #F4F6F8;
  --cool-yellow: #FAFD61;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  background-color: var(--cool-dark);
  min-height: 100dvh;
}

header,
main {
  background-color: var(--cool-dark);
  color: var(--cool-light)
}

header {
  display: flex;
  justify-content: space-between;
  padding: 15px 16px 13px;
}

header img {
  align-self: center;
}

main {
  display: flex;
  flex-direction: row;
  padding: 20px 50px;
  max-width: 100%;
  align-items: flex-start;
}

h1 {
  font-size: 2.5rem;
  font-weight: bold;
}

article h2 {
  color: var(--cool-yellow);
}

div button {
  justify-content: right;
  font-weight: 1.5rem;
  margin: 15px;
}

nav {
  justify-content: space-around;
  text-decoration: underline;
  color: var(--cool-blue);
  background-color: white;
  padding: 3rem
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #F4F6F8;
  padding: 1rem;
}

button {
  all: unset;
}

button:hover {
  cursor: pointer;
}

.justify-content-space-between {
  justify-content: space-between;
}

.display-flex {
  display: flex;
}

.blue-button {
  background-color: var(--cool-blue);
  padding: 20px;
  border-radius: 15px;
}